<% include partials/landing-header %> <!-- Notice the header file is different -->

<div class="top-bar bg-green_Tom">
  <div class="top-bar-left bg-green_Tom">
    <ul class="menu bg-green">
      <li class="menu-text logo-text bg-green_Tom">Dodona</li>
    </ul>
  </div>
  <div class="top-bar-right bg-green_Tom">
    <ul class="menu bg-green_Tom">
      <li><a class="bg-green whiteText" href="#">Legalization</a></li>
      <li><a class="bg-green whiteText" href="#">Housing Bubble</a></li>
      <li><a class="bg-green whiteText" href="#">Fintech</a></li>
      <li><a class="bg-green whiteText" href="#">Disruptive Tech</a></li>
      <li><a class="bg-green whiteText" href="#">MTL</a></li>
      <li><a class="bg-green whiteText" href="#">Startups</a></li>
    </ul>
  </div>
</div>
<!-- End Top Bar -->

<div class="callout large removePaddingMargin_Tom removeBorder_Tom topImgMain_Tom">
  <div class="row columns removePaddingMargin_Tom imgCenter_Tom removeMaxWidth_Tom">
          <div class="large-12 columns text-center hero-box_Tom">

            <h3 class="overlayText_Tom floatBottom_Tom"> Elections in Iceland:
              <br> Pirate Party in the Lead<h3>

            <p class="overlayText_Tom smallText_Tom floatBottom_Tom ">That could leave the newly-established Viðreisn – meaning Regeneration – party in the role of kingmaker. Its share of the vote sat at around 11% in early counting. Its liberal, pro-European stance has proved popular among conservative voters seeking a change from the old parties. “We want to improve things in Iceland,” the party leader, Benedikt Johannesson, said as he cast his ballot. “We are a free trade party, a pro-western party, an open society party.”

Polls published on Friday before the election showed the governing coalition of the Independence and Progressive parties on about 37% of the vote, while support for opposition parties led by the Pirates – founded barely four years ago by a group of activists, anarchists and former hackers – stood at 47%.
          </p>
          </div>
  </div>
</div>

<div class="row bg-green_Tom removePaddingMargin_Tom removeMaxWidth_Tom">
  <div class="row columns text-center">
    <br>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 columns text-center">
    <a class="large button buttonBuy_Tom" href="#">BUY</a>
  </div>
  <div class="small-12 medium-4 columns text-center">
    <h3 class="pitchPrice_Tom">$100</h3>
  </div>
  <div class="small-12 medium-4 columns text-center">
    <a class="large button buttonSell_Tom" href="#" >SELL</a>
  </div>
</div>

<hr>

<div class="row column">
  <div class="small-12 medium-2 columns text-center removePaddingMargin_Tom marginBottom_Tom">
    <h5 class="removePaddingMargin_Tom marginBottom_Tom">FOLLOWERS</h5>
  </div>
  <div class="small-12 medium-2 columns">
    <img class="imgProfiles" src="./img/Brandon_C.png" alt="" />
  </div>
  <div class="small-12 medium-2 columns">
    <img class="imgProfiles" src="./img/Farnand.png" alt="" />
  </div>
  <div class="small-12 medium-2 columns">
    <img class="imgProfiles" src="./img/Jan_A.png" alt="" />
  </div>
  <div class="small-12 medium-2 columns">
    <img class="imgProfiles" src="./img/Jason_B2.png" alt="" />
  </div>
  <div class="small-12 medium-2 columns">
    <img class="imgProfiles" src="./img/Tom_C.png" alt="" />
  </div>
</div>

<hr>

<div class="row column text-center">
  <h6 class="text-center">NEWS | TWITTER | GRAPHICAL DATA | EXPERT OPINION</h6>
</div>


<!-- graph swipping -->

<div class="row removePaddingMargin_Tom">
      <div class="carousel medium-12 large-6 removePaddingMargin_Tom column">
      <!-- vicents news thing -->
      <div class="demo1 demof">
      <ul>
        <li><img src="images/small1.jpg" alt="Sample image"/><a href="#">The world of Gilbert and George</a><p>The art duo of Gilbert and George on how their work can ruffle feathers and the benefits of routine.</p></li>
        <li class="odd"><img src="images/small2.jpg" alt="Sample image"/><a href="#">From propaganda to pop artist</a><p>Song Byeok had every reason to be pleased with his success. A gift for drawing led to a prestigious career as a propaganda artist and full membership in North Korea's communist party.</p></li>
        <li><img src="images/small3.jpg" alt="Sample image"/><a href="#">Japan's inspirational footballer</a><p>CNN's Kyung Lah sits down with Japan's World Cup-winning captain to reflect on their win amid tragedy.</p></li>
      </ul>


      <!-- <div>holder -->
    </div>


    <div>your content</div>
    <div>your content</div>
  </div>

    <div class="carousel medium-12 large-6  removePaddingMargin_Tom column">
      <div>
        <img src="images/graphNews.jpg" alt="Sample image"/>
      </div>
      <div>
        <img src="images/bitcoinNews.jpg" alt="Sample image"/>
      </div>
    </div>
</div>

<!-- <div class="row">
  <div class="slick-carousel small-12 medium-6 column">
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
  </div>
  <div class="slick-carousel small-12 medium-6 column">
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="small-12 medium-6 column">
    <img class="thumbnail" src="./img/graph2.png">
  </div>
  <div class="small-12 medium-6 column">
    <img class="thumbnail" src="./img/graph1.png">
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 column">
    <img class="thumbnail" src="./img/cnn1.jpg">
  </div>
  <div class="small-12 medium-6 column">
    <img class="thumbnail" src="./img/twitter1.png">
  </div>
</div>
<div class="row">
  <div class="small-12 medium-6 column">
    <img class="thumbnail" src="./img/economist1.png">
  </div>
  <div class="small-12 medium-6 column">
    <img class="thumbnail" src="./img/iceland_protest.jpg">
  </div>
</div> -->



<% include partials/footer %>
